@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

:root {
    --white: #ffffff;
}

{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'M Plus Rounded 1c', sans-serif;
    background-color: rgba(240, 252, 254, 1)
}

.navigasi-tulisan{
	text-align: left;
	display: flex;
	justify-content:flex-end;
	font-weight: bolder;
	padding:10px;
	padding-right:8px;

}
.navigasi-tulisan>a{
	margin:20px;
	color:rgba(12, 55, 86, 1);
}

.subscription{
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

.input[type:"submit"]{
	width
}

.highlight{
	width: 93%;
	margin-right: auto;
	margin-left: auto;
}

.gambar-highlight{
	margin-right: 50px;
	width: 100%;
	height: 500px;
	border-radius: 20px;
	background-image: url("file gambar/steven-coffey-pAEeGAf30dg-unsplash.jpg");
}
.tulisan-highlight{
	color: white;
	margin-top: -100px;
	padding-left: 20px;
}
.tulisan-highlight>a{
	margin-top: 0px;
	color:white;
}
.tulisan-highlight>h2{
	margin-bottom: 0px;
}

.artikel{
	width: 95%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
}

.wrap-artikel-sebaris{
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.artikel-satuan{
	width: 27%;
	margin-right: auto;
	margin-left: auto;
}
.gambar-satuan{
	background-color: brown;
	height: 230px;
	width: 100%;
	border-radius: 10px;
	margin-bottom: 0px;
}

.tulisan-satuan>p{
	font-weight: bolder;
	margin-bottom: 0px;
}
.tulisan-satuan>a{
	color: grey;
	font-style: normal;
}
.more-tips{
	display: flex;
	margin-right: auto;
	margin-left: auto;
	width: 150px;
	height: 30px;
	border-radius: 10px;
	background-color: rgba(30, 83, 114, 1);
	margin-top: 100px;
}
.more-tips>a{
	display: flex;
	margin-right: auto;
	margin-left: auto;
	color: white;
	font-weight: bolder;
	font-style: none;
}

a:link {
  text-decoration: none;
}

.bottom{
	width: 100%;
	height: 400px;
	background-color: rgba(12, 55, 86, 1);
	margin-top: 100px;
}