@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

:root {
    --white: #ffffff;
}

{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'M Plus Rounded 1c', sans-serif;
	background-color: rgba(240, 252, 254, 1);
	padding: 0;
	margin: 0;
}
/*navigasi*/
.navigasi{
	position: fixed;
	background-color:rgba(240, 252, 254, 1);
	width: 100%;
	max-height: 60px;
}
.navigasi-wrap{
	padding: 0;
	display: flex;
	justify-content: space-between;
	
}
.navigasi-tulisan{
	text-align: left;
	display: flex;
	justify-content:flex-end;
	font-weight: bolder;
	padding-right:8px;

}
.navigasi-tulisan>a{
	margin:20px;
	padding: 5px;
	border-radius: 5px;
	color:rgba(12, 55, 86, 1);
	text-decoration: none;
	cursor: pointer;
}
.navigasi-tulisan>a:hover{
    color: grey;
}
.navigasi-logo{
	height: 50px;
	padding-left: 50px;
}
#image-navigasi{
	height: 100%;
}
#welcome{
	display: none;
}
.nav-aktif{
	background: #e2e9ee;
	transition: .5s;
}

/*style pop up login*/

.pop-up-form{
    display: none;
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
}
.box-popup{
	position: fixed;
	text-align: center;
	width: 350px;
	background-color: #598BA4;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5%;
	box-shadow: 0 10px 10px 10px rgb(0, 0, 0, .2);
}
.header{
	color: #0C3757;
	font-size: 22px;
	font-family: 'M Plus Rounded 1c', sans-serif;
}
.header p{
	font-size: medium;
}
.login-area{
	text-align: center;
	padding: 50px 50px 30px 50px;
}
.username,
.password{
	width: 100%;
	text-align: center;
	padding: 13px 0;
	border-radius: 20px;
	outline: none;
	border: none;
	color: white;
	background-color: #B7D9E2;
	margin-bottom: 15px;
	transition: .5s;
}
.username::placeholder,
.password::placeholder{
	color: #0C3757;
}
.username:focus,
.password:focus{
	background-color: #114266;
}
.submit {
	width: 150px;
	padding: 10px;
	background-color: #0C3757;
	border-radius: 10px;
	font-weight: bold;
	color: #B7D9E2;
	border: none;
	outline: none;
	margin: 10px;
	transition: .2s;
	cursor: pointer;
}
.submit:hover{
	background-color: #598BA4;
}

.login-area>a{
	display: block;
	font-size: x-small;
	text-decoration: none;
	color: #0C3757;
	margin-top: 2px;
}





.subscription{
	padding-top: 70px;
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
	color: rgba(12, 55, 86, 1);
}
#subscription-type,#subscription-submit{
	font-family: 'M Plus Rounded 1c', 'sans-serif';

}
#subscription-type{
	border-radius: 5px;
	border-color: black;
	border-width: 1px;
	height: 30px;
	width: 350px;
	background-color: rgba(255, 246, 246, 1);
}
#subscription-submit{
	color: white;
	font-weight: bold;
	border-radius: 5px;
	border-color: rgba(12, 55, 86, 1);
	border-width: 1px;
	height: 35px;
	width: 150px;
	background-color: rgba(12, 55, 86, 1);
	margin-left: -20px;

}

.highlight{
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

.gambar-highlight{
	margin-right: 50px;
	width: 100%;
	height: 500px;
	border-radius: 20px;
    background-image: url("file gambar/steven-coffey-pAEeGAf30dg-unsplash.jpg");
    background-position: center;
}
.tulisan-highlight{
	color: white;
	margin-top: -150px;
    padding-left: 20px;
    font-size: larger;
    width: 60%;
}

.isi-artikel{
    width: 90%;
    margin-top: 80px;
	margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}
#paragraf-tulisan{
    width: 70%;
    text-align: justify;
    text-justify: inter-word;
}
.artikel-lainnya{
    border-left: black;
    width: 25%;
    
}
.artikel-lainnya-satuan{
    display: flex;
    width: 95%;
    margin-bottom: 100px;
}

.gambar-satuan{
    width: 200px;
    height: 100px;
}
#gambar-satuan{
    width:inherit;
    border-radius: 10px;
}
.tulisan-satuan>a{
    font-weight: bolder;
}
.tulisan-satuan>a,.artikel-lainnya>h4>a{
    color: black;
}
a:hover{
    color: grey;
}
.tulisan-satuan{
    margin-top: 10px;
    margin-left: 5px;
}


.bottom{
	width: 100%;
	min-height: fit-content;
	background-color: rgba(12, 55, 86, 1);
	margin-top: 200px;
	color: white;
}

.bottom-baris-satu{
	display: flex;
	margin-left: 30px;
	margin-right: 30px;
	padding-top: 50px;
	padding-left: 75px;
	padding-right: 75px;
	justify-content: space-between;
}
.etc{
	width: 850px;
}

.etc-li{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
.etc-li>li>a{
    text-decoration: none;
    color: whitesmoke;
}
.bottom-login{
	display: grid;
}
#image-bottom{
	width: 300px;
	border-radius: 5px;
	margin-bottom: 0px;
}

.bottom-logo{
	display: grid;
	justify-content: center;
	justify-items: center;
	margin-top: -40px;
	
}
#submit-login-bottom{
	display: flex;
	background-color:rgba(118, 169, 255, 1);
	border-radius: 5px;
	border-width: 0px;
	width: 50%;
	justify-content: center;
	justify-self: flex-end;
	margin-top: 15px;

}
.follow-us{
	text-align: center;
	max-width: fit-content;
	margin-top: 0px;
	padding-top: 0px;
	margin-left: 50px;

}
.follow-us-wrap-logo{
	display: flex;
	margin-top: 0px;
	padding-top: 0px;
}

#follow-us-logo{
	width: 30px;
	margin-left: 20px;
}