@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

:root {
    --white: #ffffff;
}

{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'M Plus Rounded 1c', sans-serif;
	font-size: 16px;
	background-color: rgba(240, 252, 254, 1);
	padding: 0;
	margin: 0;
}
.navigasi{
	position: fixed;
	background-color:rgba(240, 252, 254, 1);
	width: 100%;
	align-content: left;
	margin: 0;
	padding: 0;
}
a{
	padding: 0.5%;
	border-radius: 5%;
}
.nav-aktif,a:hover{
	background: #e2e9ee;
	transition: .5s;
}
.navigasi-wrap{
	padding: 0;
	margin-top: auto;
}
.navigasi-tulisan{
	padding: 0;
	margin: 0;
	text-align: left;
	display: flex;
	justify-content:flex-end;
	font-weight: bolder;
	padding:10px;
	padding-right:8px;

}
.navigasi-tulisan>a{
	display: flex;
	flex: end;
	row-gap: 10%;
	color:rgba(12, 55, 86, 1);
}

.subscription{
	padding-top: 7%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
	color: rgba(12, 55, 86, 1);
	width: 30%;
}
.wrap-subscription{
	width: 100%;
}
#subscription-type,#subscription-submit{
	font-family: 'M Plus Rounded 1c', 'sans-serif';
}
.input-subs{
	display: flex;
	height: 30px;
}
#subscription-type{
	border-radius: 5px;
	border-color: black;
	border-width: 1px;
	width: 70%;
	background-color: rgba(255, 246, 246, 1);
}
#subscription-submit{
	color: white;
	font-weight: bold;
	border-radius: 5px;
	border-color: rgba(12, 55, 86, 1);
	border-width: 1px;
	width: 25%;
	background-color: rgba(12, 55, 86, 1);
	margin-left: -5%;

}

.highlight{
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

.gambar-highlight{
	width: 100%;
	height: 500px;
	border-radius: 20px;
	background-image: url("file gambar/steven-coffey-pAEeGAf30dg-unsplash.jpg");
	background-position: center;
	background-size: cover;
}
.tulisan-highlight{
	color: white;
	margin-top: -10%;
	padding-left: 6%;
}
.tulisan-highlight>a{
	margin-top: 0px;
	color:white;
}
.tulisan-highlight>h2{
	margin-bottom: 0px;
}

.artikel{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	padding-bottom: 8%;
	
}

.artikel-kolom{
	margin: 2%;
	flex: 25%;
	max-width: 25%;
}

.artikel-satuan{
	width: 100%;
	margin: auto;
	padding-bottom: 5%;
}
.gambar-satuan{
	width: 100%;
	height: 70%;
	border-radius: 10px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.tulisan-satuan{
	width: 100%;
	margin-top:-5%;
	padding-top: 0px;
}
.tulisan-satuan>p{
	font-weight: bolder;
	margin-bottom: 0px;
}
.tulisan-satuan>a{
	color: grey;
	font-style: normal;
}
.more-tips{
	display: flex;
	margin-right: auto;
	margin-left: auto;
	padding: 0.7%;
	width: 10%;
	border-radius: 15px;
	background-color: rgba(30, 83, 114, 1);
}
.more-tips>a{
	display: flex;
	margin-right: auto;
	margin-left: auto;
	color: white;
	font-weight: bolder;
	font-style: none;
}

a:link {
  text-decoration: none;
}

.bottom{
	width: 100%;
	min-height: fit-content;
	background-color: rgba(12, 55, 86, 1);
	margin-top: 7%;
	color: white;
}

.bottom-baris-satu{
	display: flex;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 6%;
	justify-content: space-between;
}


.etc-li{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
.bottom-login{
	display: grid;
}
#image-bottom{
	width: 50%;
	border-radius: 5px;
	margin-bottom: 0px;
}
.bottom-baris-dua{
	display: flex;
	gap: 10%;
}

.bottom-logo{
	display: grid;
	justify-content: center;
	justify-items: center;
	margin-top: -2%;
	margin-left: -5%;
	
}
#submit-login-bottom{
	display: flex;
	background-color:rgba(118, 169, 255, 1);
	border-radius: 5px;
	border-width: 0px;
	width: 50%;
	justify-content: center;
	justify-self: flex-end;
	margin-top: 0%;

}
.follow-us{
	text-align: center;
	max-width: fit-content;
	margin-top: 0px;
	padding-top: 0px;
	margin-left: 10%;

}
.follow-us-wrap-logo{
	display: flex;
	margin-top: 0px;
	padding-top: 0px;
	gap: 10%;
}

#follow-us-logo{
	width: 30px;
}

@media (max-width: 425px){
	body{
		font-size: 7px;
	}
	.navigasi{
		height: 27px;
	}
	.gambar-highlight{
		height: 200px;
		background-size: cover;
	}
	.highlight{
		
	}
	.artikel-kolom{
		flex: 40%;
		max-width: 40%;
	}
	#kolom-3{
		display: none;
	}
	.artikel{
		margin-top: 20px;
	}
	.bottom-login>input{
		max-width: 80px;
		height: 7px;
	}
	#follow-us-logo{
		width: 10px;
	}
	.bottom-logo{
		width: 200px;
	}
	.submit-login-bottom{
		width: 40px;
	}
	input[type="checkbox"],input[type="text"],input[type="submit"],.more-tips,input[type="password"],#username {
		height: 10px;
		font-size: 7px;
		font-weight: lighter;
	}

	#subscription-submit{
		height: 14px;
		font-size: 7px;
		font-weight: lighter;
		text-align: center;

	}
}