@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

:root {
    --white: #ffffff;
}

{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'M Plus Rounded 1c', sans-serif;
	background-color: rgba(240, 252, 254, 1);
	padding: 0;
	margin: 0;
}
h2{
	font-size: 2.3vw;
}
h3{
	font-size: 1.5vw;
}
p{
	font-size: 1vw;
}
li>a{
	font-size: 1.3vw;
	padding: 0px;
	margin: 0px;
}
/*navigasi*/
.navigasi{
	position: fixed;
	background-color:rgba(240, 252, 254, 1);
	width: 100%;
	max-height: 6vw;
}
.navigasi-wrap{
	padding: 0;
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}
.navigasi-tulisan{
	text-align: left;
	display: flex;
	justify-content:space-evenly;
	font-weight: bolder;
	font-size: 1.2vw;
	margin-left: 5vw;
}
.navigasi-tulisan>a{
	padding: 0.8vw;
	margin: 1vw;
	border-radius: 0.7vw;
	color:rgba(12, 55, 86, 1);
	text-decoration: none;
	cursor: pointer;
	width: max-content;
}
.navigasi-logo{
	padding-left: 3vw;
	padding-top: 1vw ;
}
#image-navigasi{
	height: 3.1vw;
}
#welcome{
	display: none;
}
.nav-aktif{
	background: #e2e9ee;
	transition: .5s;
	height: min-content;
}
.navigasi-tulisan>a:hover{
    color: grey;
}
input[type="button"]{
	cursor: pointer;}
	



/*artikel utama*/
.pricing-utama{
    margin: 0;
    padding-top: 10vw;
    padding-right: 10vw;
    padding-left: 10vw;
	display: flex;
	flex-wrap: wrap;
	
}
.explore{
	flex: 25%;
	max-width: 25%;
	max-height: 70vw;

}
.explore-satuan>li>a{
    text-decoration: none;
	color: rgba(12, 55, 86, 1);
	padding: 0vw;
	margin: vw;
	display: block;
}
.explore-satuan>li{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
}

.explore-satuan{
	display: block;
	max-height: fit-content;
}

.explore-satuan>li>a:hover{
    color: grey;
}
#judul-explore{
    font-weight: bolder;
    font-size: 1.7vw;
    color: rgba(12, 55, 86, 1);
}
#explore-active{
    text-decoration: underline;
}

/*galeri-pricing*/
.wrap-galeri-pricing{
	flex: 75%;
	min-width: 75%;
	display: flex;
	flex-wrap: wrap;
	max-height: 70vw;
	margin-bottom: 13vw;
    
}

.pricing-satuan{
	flex: 30%;
	min-width: 30%;
	max-height: 30vw;
    border: 0.05vw solid rgb(211, 210, 210);
	border-radius: 1vw;
	margin-left: 0.6vw;
	margin-right: 0.6vw;
	margin-bottom: 3vw;

}
.image-pricing{
    min-width: 100%;
    max-height: fit-content;
    border-radius: 1vw;
    margin: 0px;
}
#image-pricing{
    width: 100%;
    height: 17vw;
    border-radius: 1vw;
    object-position: center;
    object-fit: cover;

}
.tulisan{
    padding: 0;
}
#title-pricing,#see-more,#paragraf,#pricing-text{
    margin: 0;
    padding: 0;
}
#paragraf{
    font-size: 1vw;
}
#see-more{
    font-size: 1vw;
    color: grey;
}

.menu-icon{
	background-image:url("file gambar/menu.png");
	background-position: center;
	background-size: cover;
	width: 2.6vw;
	height: 2.6vw;
	margin-left: -3vw;
	margin-top: -2vw;
	display: none;
}



@media (max-width: 600px) {

	.explore{
		background-color: aliceblue;
		position: absolute;
		opacity: 93%;
		border-radius: 0.5vw;
		display: none;
	}
	.menu-icon{
		display: block;
	}
	.bottom{
		margin-top: 40vw;
	}
	.menu-icon:hover + .explore{
		display: block;
	}
	
	

}

/*bottom*/

.bottom{
	width: 100%;
	min-height: fit-content;
	background-color: rgba(12, 55, 86, 1);
	margin-top: 30vw;
	color: white;
	font-size: 1.2vw;
	margin-bottom: 0;
}

.bottom-baris-satu{
	display: flex;
	padding-top: 4vw;
	padding-left: 7vw;
	padding-right: 7vw;
	justify-content: space-between;
}
.etc-li{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
.etc-li>li>a{
    text-decoration: none;
	color: whitesmoke;
}
.etc-li>li>a:hover{
	color: grey;
}
.bottom-login{
	display: grid;
	max-width: 20%;
	margin-left: 1.4vw;
	margin-right: 1.5vw;
}
.bottom-login>input[type="text"]{
	width: 80%;
	height: 1vw ;
}
.bottom-login>input[type="password"]{
	width: 80%;
	height: 1vw ;
}

#remember-me{
	width: 10%;
}

.checkbox-remember{
	display: flex;
	align-items: center;
}

#image-bottom{
	width: 20%;
	border-radius: 0.5vw;
	margin-bottom: 0px;
}

.bottom-logo{
	display: grid;
	justify-items: center;
	margin-top: -4vw;
	
	
}
#submit-login-bottom{
	display: flex;
	background-color:rgba(118, 169, 255, 1);
	border-radius: 0.5vw;
	border-width: 0px;
	width: 30%;
	justify-content: center;
	justify-self: flex-end;
	margin-top: 1.5vw;
	font-size: 1.5vw;
}
.follow-us{
	display: flex;
	flex-direction: column;
	justify-self: flex-start;
	max-width: fit-content;
	margin-top: 0px;
	padding-top: 0px;
	margin-left: 6vw;
}
.follow-us-wrap-logo{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 0px;
	padding-top: 0px;
	width: 25%;
}

#follow-us-logo{
	width: 30%;
	margin-left: 0;
	padding: 0;
}
.follow-us>a{
	padding: 0;
	margin: 0;
}