@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

:root {
    --white: #ffffff;
}

{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'M Plus Rounded 1c', sans-serif;
	background-color: rgba(240, 252, 254, 1);
	margin: 0;
    padding: 0;
}
/*navigasi*/

.navigasi{
	position: fixed;
	background-color:rgba(240, 252, 254, 1);
	width: 100%;
	max-height: 60px;
}
.navigasi-wrap{
	padding: 0;
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	
	
}
.navigasi-tulisan{
	text-align: left;
	display: flex;
	justify-content:space-evenly;
	font-weight: bolder;
	font-size: 1.2vw;
	margin-left: 5vw;

}
.navigasi-tulisan>a{
	padding: 0.8vw;
	margin: 1vw;
	border-radius: 0.7vw;
	color:rgba(12, 55, 86, 1);
	text-decoration: none;
	cursor: pointer;
	width: max-content;
}
.navigasi-logo{
	padding-left: 3vw;
	padding-top: 1vw ;
}
#image-navigasi{
	height: 3.1vw;
}
#welcome{
	display: none;
}
.nav-aktif{
	background: #e2e9ee;
	transition: .5s;
	height: min-content;
}
.navigasi-tulisan>a:hover{
    color: grey;
}
input[type="button"]{
	cursor: pointer;}

/*style pop up login*/

.pop-up-form{
    display: none;
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
}
.box-popup{
	position: fixed;
	text-align: center;
	width: 350px;
	background-color: #598BA4;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5%;
	box-shadow: 0 10px 10px 10px rgb(0, 0, 0, .2);
}
.header{
	color: #0C3757;
	font-size: 22px;
	font-family: 'M Plus Rounded 1c', sans-serif;
}
.header p{
	font-size: medium;
}
.login-area{
	text-align: center;
	padding: 50px 50px 30px 50px;
}
.username,
.password{
	width: 100%;
	text-align: center;
	padding: 13px 0;
	border-radius: 20px;
	outline: none;
	border: none;
	color: white;
	background-color: #B7D9E2;
	margin-bottom: 15px;
	transition: .5s;
}
.username::placeholder,
.password::placeholder{
	color: #0C3757;
}
.username:focus,
.password:focus{
	background-color: #114266;
}
.submit {
	width: 150px;
	padding: 10px;
	background-color: #0C3757;
	border-radius: 10px;
	font-weight: bold;
	color: #B7D9E2;
	border: none;
	outline: none;
	margin: 10px;
	transition: .2s;
	cursor: pointer;
}
.submit:hover{
	background-color: #598BA4;
}

.login-area>a{
	display: block;
	font-size: x-small;
	text-decoration: none;
	color: #0C3757;
	margin-top: 2px;
}

/*galeri*/
#video-gallery{
	width: 50%;
	height: 100%;
}
.gallery{
	display: flex;
	flex-wrap: wrap;
	margin-left: 5vw;
	margin-right: 5vw;
	padding-top: 10vw;
}
.tulisan-gallery{
	width: 50%;
	margin-left: 2vw;
}
.tulisan-gallery-kiri{
	width: 50%;
	margin-right: 2vw;
}
.tulisan-kanan{
	text-align: right;
}
.tulisan-kiri> h2,h3,p{
	text-align: left;
	
}

h2{
	font-size: 2.3vw;
}
h3{
	font-size: 1.8vw;
}
p{
	font-size: 1.5vw;
}


.gallery-satuan,.gallery-satuan-kiri{
	display: flex;
	flex: 100%;
	max-width: 100%;
	margin-bottom: 10vw;
	height: 25vw;
	margin-left: auto;
	margin-right: auto;
}
.gallery-satuan-kiri{
	flex-direction: row-reverse;
}
.tulisan-gallery>h2,h3,.tulisan-gallery-kiri>h2,h3{
	margin: 0px;
	padding: 0px;
}

@media (max-width: 600px) {
	.gallery{
		padding-top: 20vw;
		padding-bottom: 0;
		margin-bottom: 0;
	}
	.gallery-satuan,.gallery-satuan-kiri{
		flex-direction: column-reverse;
		justify-self: center;
		margin-bottom: 25vw;
		justify-content: center;
		align-content: center;

	}
	.tulisan-gallery-kiri,.tulisan-gallery{
		margin-left: auto;
		margin-left: auto;
	}

	.tulisan-gallery,.tulisan-gallery-kiri,.tulisan-kanan,.tulisan-kiri{
		width: 90%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	.tulisan-gallery>h2,h3,p,.tulisan-gallery-kiri>h2,h3,p{
		margin: 0px;
		padding: 0px;
	}
	.tulisan-gallery>p,.tulisan-gallery-kiri>p{
		margin-bottom: 1vw;
	}
	
	#video-gallery{
		width: 90%;
		height: 35vw;
		margin-left: auto;
		margin-right: auto;
	}
	.more-tips{
		margin-top: -10vw;
	}
}

.more-tips{
	display: flex;
	margin-right: auto;
	margin-left: auto;
	width: 10vw;
	height: 2.5vw;
	border-radius: 1.1vw;
	background-color: rgba(30, 83, 114, 1);
}

.more-tips>a{
	display: flex;
	margin-right: auto;
	margin-left: auto;
	color: white;
	font-weight: bolder;
	font-style: none;
	font-size: 1.3vw;

}

a:link {
  text-decoration: none;
}




/*bottom*/

.bottom{
	width: 100%;
	min-height: fit-content;
	background-color: rgba(12, 55, 86, 1);
	margin-top: 20vw;
	color: white;
	font-size: 1.2vw;
}

.bottom-baris-satu{
	display: flex;
	padding-top: 50px;
	padding-left: 75px;
	padding-right: 75px;
	justify-content: space-between;
}
.etc-li{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
.etc-li>li>a{
    text-decoration: none;
	color: whitesmoke;
}
.etc-li>li>a:hover{
	color: grey;
}
.bottom-login{
	display: grid;
}
#image-bottom{
	width: 30%;
	border-radius: 5px;
	margin-bottom: 0px;
}

.bottom-logo{
	display: grid;
	justify-items: center;
	margin-top: -40px;
	
	
}
#submit-login-bottom{
	display: flex;
	background-color:rgba(118, 169, 255, 1);
	border-radius: 5px;
	border-width: 0px;
	width: 50%;
	justify-content: center;
	justify-self: flex-end;
	margin-top: 15px;
}
.follow-us{
	display: flex;
	flex-direction: column;
	justify-self: flex-start;
	max-width: fit-content;
	margin-top: 0px;
	padding-top: 0px;
	margin-left: 50px;
}
.follow-us-wrap-logo{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 0px;
	padding-top: 0px;
	width: 40%;
}

#follow-us-logo{
	width: 30%;
	margin-left: 0; 	
	padding: 0;

}
.follow-us>a{
	padding: 0;
	margin: 0;
}